In [3]:
import pandas as pd
import numpy as np
import os

#Finds the companies in the industries
def companyFinder(industry_number):

    Advertising = 'https://raw.githubusercontent.com/Software-Engineering-Something/Capstone/master/Industry%20Sorted' \
                  '/Advertising%20%26%20Marketing%20Services.csv '
    Aerospace = 'https://raw.githubusercontent.com/Software-Engineering-Something/Capstone/master/Industry%20Sorted' \
                '/Aerospace%20%26%20Defense.csv '
    Agriculture = 'https://raw.githubusercontent.com/Software-Engineering-Something/Capstone/master/Industry%20Sorted' \
                  '/Agriculture.csv '
    Airlines = 'https://raw.githubusercontent.com/Software-Engineering-Something/Capstone/master/Industry%20Sorted' \
               '/Airlines.csv '
    Application = 'https://raw.githubusercontent.com/Software-Engineering-Something/Capstone/master/Industry%20Sorted' \
                  '/Application%20Software.csv '
    Asset = 'https://raw.githubusercontent.com/Software-Engineering-Something/Capstone/master/Industry%20Sorted' \
            '/Asset%20Managment.csv '
    Autos = 'https://raw.githubusercontent.com/Software-Engineering-Something/Capstone/master/Industry%20Sorted' \
            '/Autos.csv '
    Banks = 'https://raw.githubusercontent.com/Software-Engineering-Something/Capstone/master/Industry%20Sorted' \
            '/Banks.csv '
    BevA = 'https://raw.githubusercontent.com/Software-Engineering-Something/Capstone/master/Industry%20Sorted' \
           '/Beverages%20-%20Alcoholic.csv '
    BevN = 'https://raw.githubusercontent.com/Software-Engineering-Something/Capstone/master/Industry%20Sorted' \
           '/Beverages%20-%20NonAlcoholic.csv '
    Biotechnology = 'https://raw.githubusercontent.com/Software-Engineering-Something/Capstone/master/Industry%20Sorted' \
                    '/Biotechnology.csv '

    industry = [Advertising, Aerospace, Agriculture, Airlines, Application, Asset, Autos, Banks, BevA, BevN, Biotechnology]

    #need a for loop for the different industries
    df = pd.read_csv(industry[industry_number])

    companyName = df['ticker']

    computer = '/Users/coysmac/Desktop/Capstone/price-volume-data-for-all-us-stocks-etfs/Stocks'

    #variables for later use
    pos = 0
    data = ''
    data2 = []
    compName = []

    #going through the company names from
    for i in companyName: 
        data = i.lower()
        data2.append(i)
        fileName = computer + '/' + data + '.us.txt'
        for root, dirs, files in os.walk(computer):
            for file1 in files:
                theFile = computer + '/' + file1

                if theFile == fileName:
                    df1 = pd.read_csv(fileName)
                    df1.insert(0, column='Name', value=i)
                    pos = pos + 1

        compName.append(df1[['Name', 'Open', 'Close', 'Date']])
        
    
    for i in range (len(compName)):
        if (i+1 < pos):
            if compName[i]['Name'].iloc[0] is compName[i+1]['Name'].iloc[0]:
                del compName[i]
    return compName

In [13]:
#number of days and a range
def percentFinder(industry, number_of_days):
    percentArray = []
    for i in range (len(industry)):
        openS = industry[i]['Open'].sum(axis = 0)
        close = industry[i]['Close'].sum(axis = 0)
        difference = openS - close
        decimal = difference/openS
        percent = decimal * 100
        percentArray.append(percent)
    return percentArray

In [24]:
def getCompanyInDates(company, start, end):
    dates = (company['Date'] > start) & (company['Date'] <= end)
    company = company.loc[dates]
    return company

In [25]:
def clusteringData(industry_number, start, end):
    comp = companyFinder(industry_number)
    data = []
    
    for company in comp:
        dates = (company['Date'] > start) & (company['Date'] <= end)
        companyInDates = company.loc[dates]
        stdmean = companyInDates['Close'].mean() / companyInDates['Close'].std()
        data.append(stdmean)
    
    
    return data

In [55]:
def dataFinder(industry_number, start, end):
    data = clusteringData(industry_number, start, end)

    from sklearn.cluster import KMeans

    b = np.reshape(data, (-1,1))
    Kmean = KMeans(n_clusters=3)
    Kmean.fit(b)
    Kmean.labels_

    one = []
    two = []
    three = []

    ret = []

    company = companyFinder(0)


    for i in range(len(Kmean.labels_)):
        if(Kmean.labels_[i] == 0):
            one.append(company[i])
        elif(Kmean.labels_[i] == 1):
            two.append(company[i])
        elif(Kmean.labels_[i] == 2):
            three.append(company[i])

    ret.append(one)
    ret.append(two)
    ret.append(three)
    
    return ret

In [56]:
data = dataFinder(0, '2017-10-01', '2017-12-01')

[     Name    Open   Close        Date
 0     CCO  4.8695  4.8695  2005-11-10
 1     CCO  4.8015  5.0178  2005-11-11
 2     CCO  4.9504  5.1395  2005-11-14
 3     CCO  5.1395  5.1395  2005-11-15
 4     CCO  5.1476  5.1668  2005-11-16
 ...   ...     ...     ...         ...
 3016  CCO  3.8000  3.8000  2017-11-06
 3017  CCO  3.9500  3.9500  2017-11-07
 3018  CCO  3.7500  3.8500  2017-11-08
 3019  CCO  4.0500  4.0500  2017-11-09
 3020  CCO  4.0500  3.8500  2017-11-10

 [3021 rows x 4 columns],      Name   Open  Close        Date
 0    QUOT  27.15  30.00  2014-03-07
 1    QUOT  30.80  30.00  2014-03-10
 2    QUOT  29.87  27.80  2014-03-11
 3    QUOT  27.15  29.52  2014-03-12
 4    QUOT  29.16  26.95  2014-03-13
 ..    ...    ...    ...         ...
 925  QUOT  14.05  14.50  2017-11-06
 926  QUOT  14.40  14.10  2017-11-07
 927  QUOT  14.05  13.90  2017-11-08
 928  QUOT  13.85  14.15  2017-11-09
 929  QUOT  14.05  13.95  2017-11-10

 [930 rows x 4 columns],       Name    Open   Close        Date
 0     NCMI  13.267  13.267  2007-02-07
 1     NCMI  16.111  16.219  2007-02-08
 2     NCMI  15.990  16.427  2007-02-09
 3     NCMI  16.434  16.427  2007-02-12
 4     NCMI  16.142  16.249  2007-02-13
 ...    ...     ...     ...         ...
 2706  NCMI   6.660   6.970  2017-11-06
 2707  NCMI   6.800   5.830  2017-11-07
 2708  NCMI   5.710   5.620  2017-11-08
 2709  NCMI   5.600   5.710  2017-11-09
 2710  NCMI   5.730   5.600  2017-11-10

 [2711 rows x 4 columns],       Name    Open   Close        Date
 0     NCMI  13.267  13.267  2007-02-07
 1     NCMI  16.111  16.219  2007-02-08
 2     NCMI  15.990  16.427  2007-02-09
 3     NCMI  16.434  16.427  2007-02-12
 4     NCMI  16.142  16.249  2007-02-13
 ...    ...     ...     ...         ...
 2706  NCMI   6.660   6.970  2017-11-06
 2707  NCMI   6.800   5.830  2017-11-07
 2708  NCMI   5.710   5.620  2017-11-08
 2709  NCMI   5.600   5.710  2017-11-09
 2710  NCMI   5.730   5.600  2017-11-10

 [2711 rows x 4 columns],       Name     Open   Close        Date
 0     SHSP   1.1585  36.609  2011-05-02
 1     SHSP  32.4380  12.743  2011-05-03
 2     SHSP  12.7430  13.207  2011-05-04
 3     SHSP  12.7430  12.743  2011-05-05
 4     SHSP  12.7430  12.743  2011-05-06
 ...    ...      ...     ...         ...
 1376  SHSP   4.5300   4.560  2017-11-06
 1377  SHSP   4.6162   4.600  2017-11-07
 1378  SHSP   4.6054   4.340  2017-11-08
 1379  SHSP   4.3000   4.595  2017-11-09
 1380  SHSP   4.5520   4.460  2017-11-10

 [1381 rows x 4 columns],       Name     Open    Close        Date
 0     INUV  43.9000  47.2000  2005-02-25
 1     INUV  47.2000  56.9000  2005-02-28
 2     INUV  57.2000  54.2000  2005-03-01
 3     INUV  54.5000  52.5000  2005-03-02
 4     INUV  52.6000  56.6000  2005-03-03
 ...    ...      ...      ...         ...
 3188  INUV   0.8400   0.8400  2017-11-06
 3189  INUV   0.8325   0.8100  2017-11-07
 3190  INUV   0.8100   0.8300  2017-11-08
 3191  INUV   0.8500   0.8065  2017-11-09
 3192  INUV   0.8000   0.8300  2017-11-10

 [3193 rows x 4 columns],      Name   Open   Close        Date
 0    SRAX  6.800  6.7345  2016-10-17
 1    SRAX  6.500  6.1000  2016-10-18
 2    SRAX  6.510  7.0500  2016-10-19
 3    SRAX  7.050  6.8500  2016-10-20
 4    SRAX  6.749  6.4950  2016-10-21
 ..    ...    ...     ...         ...
 263  SRAX  3.520  3.3200  2017-11-06
 264  SRAX  3.300  3.2700  2017-11-07
 265  SRAX  3.230  3.2200  2017-11-08
 266  SRAX  3.260  3.3900  2017-11-09
 267  SRAX  3.280  3.3600  2017-11-10

 [268 rows x 4 columns],       Name   Open  Close        Date
 0     AMCN  15.00  15.00  2007-11-06
 1     AMCN  19.50  20.90  2007-11-07
 2     AMCN  19.50  19.00  2007-11-08
 3     AMCN  18.50  19.40  2007-11-09
 4     AMCN  18.00  18.56  2007-11-12
 ...    ...    ...    ...         ...
 2516  AMCN   2.27   2.20  2017-11-06
 2517  AMCN   2.22   1.99  2017-11-07
 2518  AMCN   2.01   2.07  2017-11-08
 2519  AMCN   2.09   2.02  2017-11-09
 2520  AMCN   2.03   2.07  2017-11-10

 [2521 rows x 4 columns],       Name   Open   Close        Date
 0     CNET  1.875  2.5000  2007-10-15
 1     CNET  2.500  4.1250  2009-06-29
 2     CNET  4.375  6.2500  2009-06-30
 3     CNET  5.000  4.3750  2009-07-01
 4     CNET  5.000  6.2500  2009-07-02
 ...    ...    ...     ...         ...
 2089  CNET  1.230  1.2099  2017-11-06
 2090  CNET  1.180  1.1500  2017-11-07
 2091  CNET  1.150  1.1400  2017-11-08
 2092  CNET  1.150  1.1732  2017-11-09
 2093  CNET  1.160  1.2300  2017-11-10

 [2094 rows x 4 columns],       Name    Open   Close        Date
 0     ISIG  1.2024  1.1592  2005-02-25
 1     ISIG  1.2240  1.1520  2005-02-28
 2     ISIG  1.1952  1.1520  2005-03-01
 3     ISIG  1.1520  1.1016  2005-03-02
 4     ISIG  1.1232  1.1304  2005-03-03
 ...    ...     ...     ...         ...
 3147  ISIG  1.6500  1.6500  2017-11-06
 3148  ISIG  1.6500  1.8308  2017-11-07
 3149  ISIG  1.8000  1.6800  2017-11-08
 3150  ISIG  1.6700  1.6110  2017-11-09
 3151  ISIG  1.7800  1.6600  2017-11-10

 [3152 rows x 4 columns]]